// Screen size variables
$screen-xs: 575.98px; // Tiny phones
$screen-sm: 767.98px; // Small tablets and large smartphones (landscape view)
$screen-md: 991.98px; // Small tablets (portrait view)
$screen-lg: 1199.98px; // Tablets and small desktops
